# Fichiers de configuration sensibles
src/main/resources/application.properties

# Fichiers de build
target/
*.class
*.jar
*.war

# Fichiers d'IDE
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Fichiers temporaires
*.tmp
*.temp 